body { /* réglage du style du body */
    font-family: Helvetica; /* définir la typo utilisé */
    text-align: center; /* aligner tous le contenu au milieu */
    background-color: black; /* déinir un fond d'écran noir  */
    color: white; /* définir la couleur principal du texte */

}


#title {
    font-size: 51px;
    font-weight: bold;
    font-family: open-sans;
   
}

#board {
    width: 400px; /* réglage de la largeur de la grille */
    height: 600px;  /* réglage de la hauteur de la grille */
    margin: 0 auto; 
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    cursor: text; /* créer un curseur au position des cases */
    caret-color: green; /*définir la couleur du curseur*/
    animation: cursor-blink 1s infinite; /* définir l'animation du curseur */
    background-color: blue; /* définir la couleur du fond de la grille */

}

.tile {
    /* Style de la grille */
    border: 2px solid lightgray;
    width: 64px;
    height: 60px;
    margin: 3.7px;

    /* Style du Texte */
    color: white;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    

}


.correct { /* définir le style des lettres correctes et bien placé */
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: red;
    border-radius: 50%;
    border: 4px solid white;
    
}

.present { /* définir le style des lettres preésente dans le mot mais mal placé */
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: yellow;
    border-radius: 50%;
    border: 4px solid white;
}

.absent { /* définir le style des lettre absentes dans le mot */
    display: inline-block; 
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: blue;
    border-radius: 50%;
    border: 4px solid white;
}

.a { /* définir le style de la première régle du jeu */
    display: inline-block; width: 20px;
    height: 20px; 
    line-height: 20px; 
    text-align: center; 
    font-size: 15px; 
    font-weight: bold; 
    color: white; 
    background-color: red;
    border-radius: 50%; 
    border: 4px solid white;
    margin-bottom: 10px;
}
.b { /* définir le style de la deuxième régle du jeu */
    display: inline-block; width: 20px;
    height: 20px; 
    line-height: 20px; 
    text-align: center; 
    font-size: 15px; 
    font-weight: bold; 
    color: white; 
    background-color: yellow; 
    border-radius: 50%; 
    border: 4px solid white;
    margin-bottom: 10px;
}
.c { /* définir le style de la troisième régle du jeu */
    display: inline-block; width: 20px;
    height: 20px; 
    line-height: 20px; 
    text-align: center; 
    font-size: 15px; 
    font-weight: bold; 
    color: white; 
    background-color: blue; 
    border-radius: 50%; 
    border: 4px solid white;
    margin-bottom: 10px;
}
.d { /* définir le style de la quatrième régle du jeu */
    display: inline-block; width: 20px;
    height: 20px; 
    line-height: 20px; 
    text-align: center; 
    font-size: 15px; 
    font-weight: bold; 
    color: white; 
    background-color: black; 
    border-radius: 50%; 
    border: 4px solid white;
    text-transform: lowercase;
}
.regle { /* définir le style de la section réglex du jeu */
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;    
    text-align: justify;
    display: inline-block;
    background-color: orange;
    list-style: none;
    border-radius: 10px 10px 30px 40px;
    margin-bottom: 10px;

}
#regletitle{ /* définir le style du titre règles du jeu */
        background-color: orange;
        margin-bottom: -15px;
}
.rg {
    color: orange;
}


.keyboard-row { /* définir le style du clavier */
    width: 400px;

    margin: 0 auto;
    display: flex;
}

.key-tile { /* définir le style des touches lettres du clavier */
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile { /* définir le style de la touche enter du clavier */
    width: 76px;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;
    background-color: green;
    color: white;

    /*Définir le style du texte de la touche enter */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
